* {
    margin: auto;
}
body {
    background-color: #ffcdb2;
    /* position: relative; */
}

/* h1 {
    text-align: center;
} */

.cell {
    background-color: #e5989b;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    text-align: center;
}

.cell:hover {
    border: 2px solid #6d6875;
}

.timer {
    color: red;

}

#list {
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}

/* .table { */
/* background-color:;
    text-align: center */
/* } */

/* rgba(238, 174, 202, 1) 0%, */